<!DOCTYPE html>
<html>

<head>
    <script defer src="/js/loadReviews.mjs"></script>


    <link href="/css/output.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>


<h1 class="text-xl my-3 font-semibold text-nord2 ml-100 text-center mx-auto">Filter Reviews:</h1>

<form method = "GET" class="flex justify-center items-center">
    <input class = "mb-4 mx-auto bg-white border border-nord-02 rounded-lg shadow-md overflow-hidden text-lg font-semibold text-nord1"  
    id = "search" type="text" name="" value="">	
</form>

<div class="reviews" id = "reviews"></div>


</header>


</html>