<head>
    <link href="/css/output.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>

<div class="max-w-lg mx-auto p-6 mb-10 bg-nord5 shadow-md rounded-lg">
    <h2 class="text-xl font-semibold text-nord2 mb-4">Thank you!</h2>
    <p class="text-nord2">Your review has been posted!</p>
</div>